BasedOnStyle: Mozilla
Standard: c++20
ColumnLimit: 180
IndentWidth: 2
UseTab: Never
MaxEmptyLinesToKeep: 1

AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
BinPackParameters: AlwaysOnePerLine
BreakBeforeBinaryOperators: None
BreakFunctionDefinitionParameters: true
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Right
